.we-repair {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1.5fr 1fr 1fr;
    }
    & a:nth-of-type(1), a:nth-of-type(2) {
        height: 160px;
        font-size: 1.8rem;
    }
    & a {
        // margin-bottom: 30px;
        height: 100px;
        border-radius: 6px;
        background-color: grey;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: background-size 200ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--light-color);
        text-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1);
        &:hover {
            color: var(--orange-color);
            // background-size: 120%;
        }
    }
    &__electro {
        grid-column: 1/4;
        background-image: url('../../../assets/img/electro-tools.webp');
    }
    &__benzo {
        grid-column: 4/7;
        background-image: url('../../../assets/img/benzo-tools.webp');
    }
    &__welding {
        grid-column: 1/3;
        background-image: url('../../../assets/img/welding.webp');            
    }
    &__generators {
        grid-column: 3/5;
        background-image: url('../../../assets/img/generator.webp');            
    }
    &__compressor {
        grid-column: 5/7;
        background-image: url('../../../assets/img/compressor.webp');            
    }
    &__rest {
        grid-column: 1/3;
        background-image: url('../../../assets/img/boat-engine.webp');            
    }
    &__garden {
        grid-column: 3/5;
        background-image: url('../../../assets/img/garden.webp');            
    }
    &__heater {
        grid-column: 5/7;
        background-image: url('../../../assets/img/heater.webp');            
    }
}

@media (max-width: 683.98px) {
    .we-repair {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            & a {
                font-size: 1.5rem;
                grid-column: auto;
            }
            & a:nth-of-type(1), a:nth-of-type(2) {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .we-repair {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
}
