<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />

<h1>Список Инструментов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addTool()" />
<table *ngIf="tableModeTool; else createToolTemplate" class="table table-striped">
    <thead>
        <tr>
            <td>Название</td>
            <td>Основой тип</td>
            <td>Второстепенный тип</td>
            <td>Название бренда</td>
            <td>Характеристики</td>
            <td>Описание</td>
            <td>Ссылка на картинку</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tools">
            <ng-template [ngIf]="tool?.id != t.id" [ngIfElse]="editToolTemplate">
                <td>{{t?.name}}</td>
                <td>{{t?.mainType}}</td>
                <td>{{t?.secondaryType}}</td>
                <td>{{t?.brandName}}</td>
                <td>{{t?.specs}}</td>
                <td>{{t?.description}}</td>
                <td>{{t?.imgReference}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editTool(t)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteTool(t)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования инструментов-->
<ng-template #editToolTemplate>
    <td>
        <input type="text" [(ngModel)]="tool.name" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="tool.mainType" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="tool.secondaryType" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="tool.brandName" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="tool.specs" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="tool.description" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="tool.imgReference" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveTool()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancelTool()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления инструментов-->
<ng-template #createToolTemplate>
    <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="tool.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Основой тип</label>
        <input type="number" [(ngModel)]="tool.mainType" class="form-control" />
    </div>
    <div class="form-group">
        <label>Второстепенный тип</label>
        <input type="number" [(ngModel)]="tool.secondaryType" class="form-control" />
    </div>
    <div class="form-group">
        <label>Название бренда</label>
        <input type="text" [(ngModel)]="tool.brandName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Характеристики</label>
        <input type="text" [(ngModel)]="tool.specs" class="form-control" />
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input type="text" [(ngModel)]="tool.description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ссылка на картинку</label>
        <input type="text" [(ngModel)]="tool.imgReference" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="saveTool()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancelTool()" class="btn btn-warning" />
    </div>
</ng-template>