<section class="backup">
  <!-- <button class="button_light" (click)="createBackup()">Создать бекап</button> -->
  <!-- <button class="button_light" (click)="restoreSite()">Восстановить сайт</button> -->
  <!-- Загрузка картинки на сервер -->
<form class="upload-btn" [formGroup]="newBackupForm" (change)="uploadBackup(newBackupForm.value)">
  <label class="button_light" for="newBackup">Загрузить бэкап на сервер</label>
  <input type="file" id="newBackup" formControlName="newBackup" (change)="onSelectFile($event)" style="display: none;">
</form>
  <button class="button_light download-btn" (click)="downloadBackup($event)">Скачать бэкап</button>
</section>

<section class="mail-settings">
  <h4>Настройки почты</h4>
  <div class="mail-settings__item">
    <label for="mail-to-admin">
      <input id="mail-to-admin" type="checkbox" [(ngModel)]="mailSettings$.sendNotificationToHQ" />
      Отправлять заявки администратору</label>
  </div>
  <div class="mail-settings__item">
    <label for="admin-email">Адрес администратора</label>
    <input id="admin-email" type="text" size="40" [(ngModel)]="mailSettings$.hQeMail">
  </div>
  <div class="mail-settings__item">
    <label for="mail-to-client">
      <input id="mail-to-client" type="checkbox" [(ngModel)]="mailSettings$.sendNotificationToClient" />
      Отправлять уведомление клиенту</label>
  </div>
  <div class="mail-settings__item">
    <label>Сообщение клиенту</label>
    <textarea type="text" [(ngModel)]="mailSettings$.defaultMessageToClient"></textarea>
  </div>
  <div class="mail-settings__item">
    <label for="host-email">Адрес почты сайта</label>
    <input id="host-email" type="text" size="40" [(ngModel)]="mailSettings$.credentials_Name">
  </div>
  <div class="mail-settings__item">
    <label for="host-password">Пароль почты сайта</label>
    <input id="host-password" type="password" size="40" [(ngModel)]="mailSettings$.credentials_Pass">
  </div>
  <div class="mail-settings__item">
    <label for="smtp-adress">SMTP адрес</label>
    <input id="smtp-adress" type="text" size="40" [(ngModel)]="mailSettings$.smtpServer_Host">
  </div>
  <div class="mail-settings__item">
    <label for="smtp-port">SMTP порт</label>
    <input id="smtp-port" type="text" size="40" [(ngModel)]="mailSettings$.smtpServer_Port">
  </div>
  
  <button class="button_ok" (click)="saveMailSettings($event)">Сохранить настройки</button>
  <button class="button_light" (click)="resetMailSettings($event)">Сбросить настройки</button>
</section>


<!--

        // флаг об отправке оповещений на почту админа
        public sendNotificationToHQ?: boolean,

        // почта админа для оповещений
        public hQeMail?: string,

        // флаг об отправке на почту клиенту
        public sendNotificationToClient?: boolean,

        // сообщение по умолчанию в письме запросящему
        public defaultMessageToClient?: boolean,

        // почта за счёт которой идёт отправка
        public credentials_Name?: string,

        public credentials_Pass?: string,

        // SMTP сервер предоставляющий услуги отправки почты
        public smtpServer_Host?: string,

        public smtpServer_Port?: string
-->
