<app-preloader *ngIf="!res$"></app-preloader>
<div class="tool-page">
    <h2 *ngIf="!!res$" class="tool-page__title">
        {{res$.name}}
    </h2>
    <img *ngIf="!!res$" class="tool-page__image" src={{res$.imgRefenrence}} alt="">
    <div *ngIf="!!res$" class="tool-page__pricelist">
        <div class="pricelist-wrapper">
            <div class="pricelist__row" *ngFor="let serve of res$.serves; index as i">
                <h4  *ngIf="res$.costs[i] == '<h4>'" class="pricelist__title">{{serve}}</h4>
                <div *ngIf="res$.costs[i] != '<h4>'" class="pricelist__serve">{{serve}}</div>
                <div *ngIf="(res$.costs[i] != '<h4>') && (res$.costs[i] != '<none>')" class="pricelist__cost">{{res$.costs[i]}}</div>
            </div>
        </div>
    </div>
    <button class="button_ok send-request-btn" (click)="sendRequest($event)">Оставить заявку</button>
</div>