ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    z-index: 999;
    margin-bottom: 30px;
    &__topper {
        font-size: 14px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        margin-left: auto;
        padding-left: 130px;
        & span, a {
            text-decoration: none;
            z-index: 1;
            color: var(--light-color);
            // margin-right: 60px;
            line-height: 16px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 40px;
            width: 100%;
            background-color: var(--dark-color);
            z-index: -1;
        }
    }

    &__nav {
        // display: flex;
    }

    &__logo {
        width: 129px;
    }

    &__search {
        position: relative;
        & input {
            width: 300px;
            padding: 0 30px 0 16px;
            height: 40px;
            border-radius: 6px;
            font-weight: 600;
            color: var(--dark-color);
            box-sizing: border-box;
            border: 2px solid rgba($color: #000000, $alpha: 0);
            &::-webkit-search-decoration {
                appearance: none;
            }
            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }
            &::placeholder {
                font-size: 16px;
                font-weight: 400;
                color: var(--dark-grey-color);
            }
            &:focus {
                outline: none;
                border: 2px solid var(--orange-color);
            }
        }
        & button {
            background: none;
            border: none;
            position: absolute;
            top: 9px;
            right: 10px;
            padding: 0;
            vertical-align: middle;
            height: 22px;
            outline: none;
            &:focus svg>path {
                fill: var(--orange-color);
            }
        }
    }

    &__phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        // padding-left: 16px;
        & a {
            color: var(--dark-color);
            text-decoration: none;
            white-space: nowrap;
        }
        & a > img {
            width: 28px;
        }
    }
}

input, textarea, select {
    appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.nav {
    display: flex;
    height: 60px;
    & ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__link {
        // padding: 0 16px;
        cursor: pointer;
        text-decoration: none;
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 60px;
        margin: 0 16px;
        white-space: nowrap;
        &:hover {
            // color: var(--orange-color);
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: var(--grey-color);
        background: var(--grey-grad);
        z-index: -1;
    }
}

.arrow-down {
    transition: transform 200ms ease;
}

.nav__item {
    position: relative;
    // cursor: pointer;
    &:hover .nav__link{
        color: var(--orange-color);
    }
    &:hover .arrow-down{
        transform: rotate(180deg);
    }
    &:hover .arrow-down > svg > path {
        stroke: var(--orange-color);
    }
    &:hover .drop-menu {
        visibility: visible;
    }
    // & a {
    //     &:focus {
    //         color: var(--orange-color);
    //     }
    //     &:focus + .arrow-down {
    //         transform: rotate(180deg);
    //     }
    //     &:focus + .arrow-down > svg > path {
    //         stroke: var(--orange-color);
    //     }
    //     &:focus ~ .drop-menu {
    //         visibility: visible;
    //     }
    // }
}

.drop-menu {
    visibility: hidden;
    z-index: 999;
    position: absolute;
    // width: 100%;
    display: flex;
    left: 0;
    top: 60px;
    // backdrop-filter: blur(16px);
    // background-color: rgba(white, 0.5);
    background-color: var(--grey-color);
    background: var(--grey-grad);
    &__item {
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 16px;
        // margin: 5px 0;
        & > svg {
            transition: transform 200ms ease;
        }
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
        &:hover > a{
            color: var(--orange-color);
        }
        &:hover > svg > path {
            stroke: var(--orange-color);
        }
        &:hover > svg {
            transform: rotate(180deg);
        }
        &:hover > .side-drop-menu{
            visibility: visible;
        }
    }
    &__link {
        font-weight: 600;
        display: block;
        margin: 0 16px;
        line-height: 40px;
        text-decoration: none;
        color: var(--dark-color);
        cursor: pointer;
        &:hover {
            color: var(--orange-color);
        }
    }
}

.side-drop-menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    margin-left: 100%;
    padding: 16px;
    // width: auto;
    width: 60vw;
    max-width: 300px;
    min-height: 320px;
    max-height: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    align-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    backdrop-filter: blur(16px);
    background-color: rgba(white, 0.5);
    // background-color: var(--grey-color);
    // background: var(--grey-grad);
    & a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: var(--dark-color);
        padding: 0 16px;
        margin: 0 10px 10px 0;
        border: 2px solid var(--dark-color);
        border-radius: 20px;
        line-height: 36px;
        white-space: nowrap;
        &:hover {
            color: var(--orange-color);
            border: 2px solid var(--orange-color);
        }
    }
}


.footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // position: relative;
    & > img {
        display: block;
        margin: 0 auto;
    }
    &::before {
        content: '';
        position: absolute;
        // top: 40px;
        // bottom: 0;
        left: 0;
        margin-top: 97px;
        height: 432px;
        width: 100%;
        background-color: var(--orange-color);
        // background: var(--grey-grad);
        z-index: -1;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        height: 280px;
    }
    &__map {
        width: 40%;
        border-radius: 6px;
    }
    &__nav, &__contacts {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > a, & > span {
            text-decoration: none;
            color: var(--light-color);
        }
    }
    &__messengers {
        & > a {
            margin-right: 16px;
            & > svg {
                width: 50px;
                & > path {
                    fill: var(--light-color);
                }
            }
        }
        // display: flex;
        // justify-content: space-between;
    }

}

@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .header {
        margin-bottom: 60px;
    }
    .header__search {
        position: absolute;
        top: 100px;
        right: 0;
        & input {
            // box-sizing: border-box;
            border: 2px solid rgba($color: #000000, $alpha: 1.0);
        }
    }
}