/* You can add global styles to this file, and also import other style files */
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import "~swiper/swiper-bundle";
@import '~quill/dist/quill.snow.css';


:root {
    --dark-color: #131522;
    --dark-grey-color: #828282;
    --grey-color: #DCDEEB;
    --light-color: #F2F2F2;
    --orange-color: #E2632A; //rgb(226,99,42)
    --alarm-color: #E2352A;
    --green-color: #409D3E;
    --dark-green-color: #2a6829;
    --grey-grad: linear-gradient(145deg, #CED1E9 0%, #EFF0F8 100%);
    --shadow: 0px 4px 8px 0px rgba(56, 56, 56, 0.28);
}

html {
    font-size: 16px;
}

body {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    // overflow: hidden;
    // height: 100%;
}

.visibility-hidden {
    visibility: hidden;
}

.main-h2 {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    html {
        font-size: 14px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

.button_light, .button_ok {
    display: block;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    height: 34px;
    // width: fit-content;
    font-size: 14px;
    line-height: 30px;
    color: var(--dark-color);
    background-color: var(--light-color);
    outline: none;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 16px;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid var(--light-color);
    transition: transform 120ms ease;
    &:active {
        background-color: var(--grey-color);
        border: 2px solid var(--orange-color);
        box-sizing: border-box;
        transform: scale(0.96);
        color: var(--orange-color);
    }
    &:focus {
        color: var(--orange-color);
        box-sizing: border-box;
        border: 2px solid var(--orange-color);
        // padding: 0 14px;
    }
    &:disabled {
        color: var(--grey-color);
        &:hover {
            color: var(--grey-color);
        }
    }
}

@media (hover: hover) {
    .button_light, .button_ok {
        &:hover {
            color: var(--orange-color);
        }
    }
}

.button_ok {
    border: 2px solid var(--green-color);
    background-color: var(--green-color);
    &:active {
        background-color: var(--dark-green-color);
    }

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    & ul {
        width: calc(100% - 154px);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 600;
        line-height: 60px;
        margin: 0 16px;
        white-space: nowrap;
    }
    &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: var(--grey-color);
        background: var(--grey-grad);
        z-index: -1;
    }
}
.nav__item {
    position: relative;
}

.nav__item_hover .nav__link {
    color: var(--orange-color);
}
.nav__item_hover .arrow-down {
    transform: rotate(180deg);
}
.nav__item_hover .arrow-down > svg > path {
    stroke: var(--orange-color);
}

input {
    font-size: 16px;
}