/* You can add global styles to this file, and also import other style files */
@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import 'swiper/swiper-bundle.css';
@import '~quill/dist/quill.snow.css';


:root {
    --dark-color: #131522;
    --dark-grey-color: #828282;
    --grey-color: #DCDEEB;
    --light-color: #F2F2F2;
    --orange-color: #E2632A; //rgb(226,99,42)
    --alarm-color: #E2352A;
    --green-color: #409D3E;
    --grey-grad: linear-gradient(145deg, #CED1E9 0%, #EFF0F8 100%);
}

html {
    font-size: 16px;
}

body {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    // overflow: hidden;
    // height: 100%;
}

.main-h2 {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    html {
        font-size: 14px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }

.button_light {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    height: 34px;
    font-size: 14px;
    color: var(--dark-color);
    background-color: var(--light-color);
    border: none;
    border-radius: 6px;
    padding: 0 16px;
    white-space: nowrap;
    &:hover {
        color: var(--orange-color);
    }
    &:active {
        background-color: var(--grey-color);
    }
    &:focus {
        color: var(--orange-color);
        // box-sizing: border-box;
        border: 2px solid var(--orange-color);
        padding: 0 14px;
    }
}

.navbar, .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-color);
    height: 40px;
}

.navbar {
    & h1 {
        margin-left: 26px;
    }
    & a {
        text-decoration: none;
        color: var(--dark-color);
        margin-right: 26px;
        font-size: 16px;
        font-weight: 600;
        &:hover {
            color: var(--orange-color);
        }
    }
}

