<nav class="admin-nav nav">
    <h2 class="nav__item">
        <a routerLink="/">На сайт</a>
    </h2>

    <ul *ngIf="(navMobile && auth.isToken() && burger) || (!navMobile && auth.isToken())">
      <li class="nav__item" routerLinkActive="active">
        <a (click)="burger = false" class="nav__link" [routerLink]="['/admin', 'tooltypes']">Инструменты</a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a (click)="burger = false" class="nav__link" [routerLink]="['/admin', 'settings']">Настройки</a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a (click)="burger = false" class="nav__link" [routerLink]="['/admin', 'requests']">Заявки</a>
      </li>
      <!-- <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'spareparts']">SpareParts</a>
      </li> -->
      <li class="nav__item" routerLinkActive="active">
        <a class="nav__link" href="#" (click)="logout($event)">Выход</a>
      </li>
    </ul>
    <!-- <ng-template #login> -->
      <a *ngIf="!auth.isToken()" class="nav__link" [routerLink]="['/admin', 'login']">Вход</a>
    <!-- </ng-template> -->
    <input id="burger" type="checkbox" [(ngModel)]="burger" *ngIf="navMobile && auth.isToken()">
    <label for="burger" class="header__nav_mobile" *ngIf="navMobile && auth.isToken()">
        <div></div>
        <div></div>
        <div></div>
    </label>

</nav>
<router-outlet></router-outlet>
