<h1>Список Инструментов</h1>
<div *ngFor="let tt of toolTypes">
  {{tt.name}}
  {{tt.mainType}}
  {{tt.brands}}
  {{tt.serveCost}}
  {{tt.info}}
</div>
<!-- <table class="table">
  <thead>
    <tr>
      <td>Название</td>
      <td>Основой тип</td>
      <td>Второстепенный тип</td>
      <td>Бренды</td>
      <td>Услуги</td>
      <td>Стоимость</td>
      <td>Ссылка на картинку</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tt of toolTypes">
      <ng-template [ngIf]="toolType?.id != tt.id" [ngIfElse]="editToolTypeTemplate">
      <ng-template [ngIf]="toolType?.id != tt.id">
        <td>{{tt?.name}}</td>
        <td>{{tt?.mainType}}</td>
        <td>{{tt?.secondaryType}}</td>

        <td>
          <div *ngFor="let brand of tt.brands">
            {{brand}}
          </div>
        </td>

        <td></td>
        <td>
        <td *ngFor="let key of tt.serveCost.keys">
          {{key}}
        </td>
        <td *ngFor="let value of tt.serveCost.values">
          {{value}}
        </td>
        <td>{{tt?.imgRefenrence}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editToolType(tt)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="deleteToolType(tt)">Удалить</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table> -->
<input *ngIf="!addToolFlag;" type="button" value="Добавить" class="addPartBtn" (click)="addToolType()" />

<!--шаблон для редактирования инструментов-->
<!-- <ng-template #editToolTypeTemplate>
  <td>
    <input type="text" [(ngModel)]="toolType.name" class="form-control" />
  </td>
  <td>
    <input type="number" [(ngModel)]="toolType.mainType" class="form-control" />
  </td>
  <td>
    <input type="number" [(ngModel)]="toolType.secondaryType" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="toolType.brands" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="toolType.serveCost" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="toolType.imgRefenrence" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="saveToolType()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="resetToolType()" class="btn btn-sm btn-warning" />
  </td>
</ng-template> -->

<!--шаблон для добавления инструментов-->
<!--<ng-template #createToolTypeTemplate>
  <div class="form-group">
    <label>Название</label>
    <input type="text" [(ngModel)]="toolType.Name" class="form-control" />
  </div>

  <div class="form-group">
    <label>Основой тип</label>
    <input type="number" [(ngModel)]="toolType.MainType" class="form-control" />
  </div>

  <div class="form-group">
    <label>Второстепенный тип</label>
    <input type="number" [(ngModel)]="toolType.SecondaryType" class="form-control" />
  </div>

  <div class="form-group">
    <label>Бренды</label>
    <input type="text" [(ngModel)]="toolType.Brands" class="form-control" />
  </div>

  <div class="form-group">
    <label>Услуги-стоимость</label>
    <input type="text" [(ngModel)]="toolType.ServeCost" class="form-control" />
  </div>

  <div class="form-group">
    <label>Ссылка на картинку</label>
    <input type="text" [(ngModel)]="toolType.ImgRefenrence" class="form-control" />
  </div>

  <div>
    <input type="button" value="Сохранить" (click)="saveToolType()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="resetToolType()" class="btn btn-warning" />
  </div>
</ng-template>-->





<!-- Добавление инструмента -->
  <section *ngIf="addToolFlag;" class="create-tool">

    <div class="create-tool__item">
      <label>Название</label>
      <input type="text" [(ngModel)]="toolType.name" class="form-control" placeholder="Название инструмента"/>
    </div>

    <hr>
    <!-- Категории -->
    <div class="create-tool__item">
      <label>Категория</label>
      <div class="categories">
        <div *ngFor="let category of categories; index as i" class="categories__item">
          <input id="type{{i}}" type="checkbox" [(ngModel)]="toolType.mainType[i]">
          <label for="type{{i}}">{{category}}</label>
        </div>
      </div>
      <!-- <input type="number" [(ngModel)]="toolType.mainType" class="form-control" /> -->
    </div>

    <hr>

    <!-- Бренды -->
    <div class="create-tool__item brands">
      <label>Бренды</label>
      <div class="brand">
        <div *ngFor="let brand of toolType.brands">
          {{brand}}
        </div>
        <input type="text" [(ngModel)]="currentBrand"/>
        <button class="" (click)="addBrandToToolType()">
          Добавить
        </button>
      </div>
    </div>

  <hr>

    <!-- Прайс -->
    <div class="price">
      <label>Прайс лист</label>
      <div class="price__container">
        <div *ngFor="let key of serveCostLength; index as i" class="price__row old-row">
          <input type="text" [(ngModel)]="toolType.serveCost.keys[i]">
          <input type="text" [(ngModel)]="toolType.serveCost.values[i]">
          <!-- <button>
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 7.125H21.75V8.625H12V7.125Z" fill="black"/>
              <path d="M8.25 12H21.75V13.5H8.25V12Z" fill="black"/>
              <path d="M8.25 16.875H21.75V18.375H8.25V16.875Z" fill="black"/>
              <path d="M9 7.125H6V4.125H4.5V7.125H1.5V8.625H4.5V11.625H6V8.625H9V7.125Z" fill="black"/>
            </svg>
          </button> -->
          <button (click)="removeRow(i)">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.00293 20C5.00293 21.103 5.89993 22 7.00293 22H17.0029C18.1059 22 19.0029 21.103 19.0029 20V8H21.0029V6H17.0029V4C17.0029 2.897 16.1059 2 15.0029 2H9.00293C7.89993 2 7.00293 2.897 7.00293 4V6H3.00293V8H5.00293V20ZM9.00293 4H15.0029V6H9.00293V4ZM8.00293 8H17.0029L17.0039 20H7.00293V8H8.00293Z" fill="black"/>
              <path d="M9.00293 10H11.0029V18H9.00293V10ZM13.0029 10H15.0029V18H13.0029V10Z" fill="black"/>
            </svg>
          </button>
        </div>
        <div class="price__row new-row">
          <input type="text" [(ngModel)]="newKey">
          <input type="text" [(ngModel)]="newValue">
          <button class="" (click)="addRowToPrice()">Добавить</button>
        </div>
      </div>
    </div>

    <hr>

    <!-- <form [formGroup]="form">
      <input type="file" formControlName="newImg" (change)="uploadImage()">
    </form> -->
    
      <form [formGroup]="newImageForm" (ngSubmit)="onSubmit(newImageForm.value)">

        <div>
            <label for="newImage">
                new Image
            </label>
            <input type="file" formControlName="newImage" (change)="onSelectFile($event)" >
        </div>
      
        <button type="submit">upload</button>
      
      </form>


    <div class="add-image">
      <div *ngIf="!!this.toolType.imgRefenrence">
        <img src={{this.toolType.imgRefenrence}} alt="">
      </div>
      <button (click)="chooseImg(true)">Выбрать картинку</button>
      <div *ngIf="chooseImgPop" class="popup" (click)="popupClick($event)">
        <div class="popup__body">
          <div class="popup__content">
            <div class="popup__header">


              <button class="popup__close" (click)="chooseImg(false)">X</button>
            </div>
            Выбрать картинку
            <div class="popup__images">
              <img *ngFor="let img of images" src={{img}} (click)='addImage($event)' alt="">
                <!-- <img src="../../../assets/img/tools/angle-grinder.png" alt="" (click)='addImage($event)'>
                <img src="../../../assets/img/tools/drill.png" alt="" (click)='addImage($event)'>
                <img src="../../../assets/img/tools/perforator.png" alt="" (click)='addImage($event)'>
                <img src="../../../assets/img/tools/screwdriver.png" alt="">
                <img src="../../../assets/img/tools/perforator.png" alt="">
                <img src="../../../assets/img/tools/screwdriver.png" alt="">
                <img src="../../../assets/img/tools/angle-grinder.png" alt="">
                <img src="../../../assets/img/tools/drill.png" alt="">
                <img src="../../../assets/img/tools/perforator.png" alt="">
                <img src="../../../assets/img/tools/screwdriver.png" alt="">
                <img src="../../../assets/img/tools/perforator.png" alt="">
                <img src="../../../assets/img/tools/screwdriver.png" alt="">
                <img src="../../../assets/img/tools/angle-grinder.png" alt="">
                <img src="../../../assets/img/tools/drill.png" alt="">
                <img src="../../../assets/img/tools/perforator.png" alt="">
                <img src="../../../assets/img/tools/screwdriver.png" alt="">
                <img src="../../../assets/img/tools/perforator.png" alt="">
                <img src="../../../assets/img/tools/screwdriver.png" alt=""> -->
            </div>
            
          </div>
        </div>
      </div>
      <!-- <input type="text" [(ngModel)]="toolType.imgRefenrence" class="form-control" /> -->
    </div>

    <hr>

    <quill-editor></quill-editor>

    <div>
      <button (click)="saveToolType()" class="btn btn-success">
        Сохранить
      </button>
      <button (click)="resetToolType()" class="btn btn-warning">
        Отмена
      </button>
    </div>
  </section>
<!-- </ng-template> -->





