// @import '~quill/dist/quill.snow.css';
// @import url('~quill/dist/quill.snow.css');
@import '../../tools-page/tools-page.component.scss';
@import '../../shared/main-layout/main-layout.component.scss';


h1 {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.create-tool {
    max-width: 700px;
    margin: 30px auto;
    &__item {
        width: 100%;
        margin: 20px 0;
        display: flex;

        width: 100%;
        justify-content: space-between;
    }
}

.categories {
    // display: flex;
    // flex-direction: column;
    // display: block;
    &__item {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        & input {
            margin-right: 6px;
        }
    }
}

.brand {
    & div {
        display: flex;
        justify-content: space-between;
    }
    & button {
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.price {
    & label {
    }
    &__container {
        margin-top: 10px;
    }
    &__row {
        display: flex;
        // justify-content: space-between;
        margin-bottom: 10px;
        & span, & input {
            width: 40%;
            border: 1px solid var(--dark-color);
        }
        & button {
            width: 4%;
        }
    }
}

.old-row {
    color: var(--grey-color);
    & input {
        border: 1px solid var(--green-color);
    }
    & button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.new-row {
    & button {
        width: 15%;
    }
}


.popup {
    z-index: 999;
    position: fixed;
    // position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    left: 0;
    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    &__content {
        background-color: var(--light-color);
        color: var(--dark-color);
        max-width: 80%;
        max-height: 80vh;
        padding: 30px;
        text-align: center;
        overflow-y: auto;
    }
    &__header {
        position: relative;
        margin-bottom: 30px;
        text-align: left;
    }
    &__upload, &__close {
        text-decoration: none;
        background-color: var(--grey-color);
        padding: 5px 10px;
        color: var(--dark-color);
        font-size: 16px;
        cursor: pointer;
        border: none;
        &:hover {
            background-color: var(--dark-color);
            color: var(--light-color);
        }
    }
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
    }
    &__images {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        justify-items: start;
        & img {
            border: 2px solid var(--dark-color);
            width: 100%;
            // height: 100px;
            cursor: pointer;
        }
        & a {
            // box-sizing: border-box;
        }
    }
}

.tool-image {
    & img {
        width: 50%;
    }
}

.saved-tools {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    justify-items: start;
    margin-bottom: 60px;
}

.saved-tool {
    // border-radius: 6px;
    // padding: 10px;
    // position: relative;
    // width: 282px;
    // height: 200px;
    // background-color: var(--grey-color);
    // overflow: hidden;
    // align-content: center;
    // text-align: center;
    // box-sizing: border-box;
    // &__img {
    //     // width: 80%;
    //     height: 80%;
    // }
    // &__name {
    //     margin-top: 10px;
    //     // position: absolute;
    //     // bottom: 20px;
    // }
    &__btns {
        opacity: 0.8;
        position: absolute;
        top: 10px;
        right: 10px;
        & button:first-of-type {
            margin-right: 10px;
        }

    }
}