<section class="hero">
    <h1 class="hero__header">
        Ремонт строительного инструмента
    </h1>
    <div>
    </div>
    <app-swiper class="hero__slider"></app-swiper>
</section>
<section id="categories" class="we-repair" fragment="categories">
    <h2 class="main-h2">Мы ремонтируем</h2>
    <div class="we-repair__wrapper">
        <a class="we-repair__electro" [routerLink]="['tools', 'electro']">Электроинструмент</a>
        <a class="we-repair__benzo" [routerLink]="['tools', 'benzo']">Бензоинструмент</a>
        <a class="we-repair__welding" [routerLink]="['tools', 'welding']">Сварочные аппараты</a>
        <a class="we-repair__generators" [routerLink]="['tools', 'generator']">Генераторы</a>
        <a class="we-repair__compressor" [routerLink]="['tools', 'compressor']">Компрессоры</a>
        <a class="we-repair__rest" [routerLink]="['tools', 'rest']">Техника для отдыха</a>
        <a class="we-repair__garden" [routerLink]="['tools', 'garden']">Садовая техника</a>
        <a class="we-repair__heater" [routerLink]="['tools', 'heatgun']">Тепловые пушки</a>
    </div>
</section>

<section class="advantage">
    <h2 class="main-h2">Почему мы</h2>
    <div class="advantage__wrapper">
        <div class="advantage__item">
            <img src="../../assets/img/diagnostic.svg" alt="">
            Качественная<br>
            диагностика
        </div>
        <div class="advantage__item">
            <img src="../../assets/img/guarantee.svg" alt="">
            Гарантия<br>на&nbsp;ремонт
        </div>
        <div class="advantage__item">
            <img src="../../assets/img/delivery.svg" alt="">
            Выездной<br>ремонт
        </div>
        <div class="advantage__item">
            <img src="../../assets/img/experience.svg" alt="">
            Многолетний<br>опыт
        </div>
    </div>
</section>

<section class="brands">
    <h2 class="main-h2">Бренды</h2>
    <app-swiper-brands class="brands__slider"></app-swiper-brands>
</section>

<section class="popular">
    <h2 class="main-h2">Популярные услуги</h2>
    <div class="popular__wrapper">
        <a href="">Замена ствола перфоратора</a>
        <a href="">Замена щеток в шуруповерте</a>
        <a href="">Замена подшипника редуктора УШМ</a>
        <a href="">Заточка ножа триммера</a>
        <a href="">Заточка цепи бензопилы</a>
        <a href="">Обслуживание бензогенератора</a>
        <a href="">Замена выпрямителя в сварочном аппарате</a>
        <a href="">Регулировка давления компрессора</a>
    </div>
</section>

<section class="description">
    <h2 class="main-h2">РЕМТУЛ - это профессиональный ремонт строительного инструмента</h2>
    <div class="description__content">
        <p class="description__text">
            Любой даже самый дорогой и качественный инструмент имеет ограниченный ресурс работы. 
            Зачастую износ деталей и частей инструмента приводит к поломкам в самый неподходящий момент. 
            Чтобы избежать неожиданного выхода из строя Вашего инструмента настоятельно рекомендуем придерживаться регламента на его обслуживание.
            <br>
            <br>
            Наш сервисный центр производит профессиональное обслуживание и ремонт строительного инструмента любых производителей.
        </p>
        <div class="description__process">
            <img src="../../assets/img/fix_process.png" alt="">
        </div>
    </div>
</section>