.hero {
    margin-top: 60px;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__header {
        width: 34%;
        font-size: 48px;
        font-weight: 800;
        line-height: 70px;
    }
    &__slider {
        width: 66%;
        height: 340px;
    }
}

.main-h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.we-repair {

    & h2 {

    }
}

.row-4-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    & * {
        width: 23%;
    }
}
.row-3-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    & * {
        width: 31.7%;
    }
}
.row-2-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    & * {
        width: 48.8%;
    }
}

.we-repair {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__row {
        &:first-of-type {
            & a {
                height: 160px;
                font-size: 30px;
            }
        }
    }
    & a {
        margin-bottom: 30px;
        height: 100px;
        border-radius: 6px;
        background-color: grey;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: background-size 200ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        color: var(--light-color);
        text-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1);
        &:hover {
            color: var(--orange-color);
            // background-size: 120%;
        }
        
    }
    &__electric {
        background-image: url('../../assets/img/electro-tools.jpg');
    }
    &__benzo {
        background-image: url('../../assets/img/benzo-tools.jpg');
    }
    &__welding {
        background-image: url('../../assets/img/welding.jpg');            
    }
    &__generators {
        background-image: url('../../assets/img/generator.jpg');            
    }
    &__compressor {
        background-image: url('../../assets/img/compressor.jpg');            
    }
    &__rest {
        background-image: url('../../assets/img/boat-engine.jpg');            
    }
    &__garden {
        background-image: url('../../assets/img/garden.jpg');            
        
    }
    &__heater {
        background-image: url('../../assets/img/heater.jpg');            

    }
}

.advantage {
    height: 310px;
    width: 70%;
    margin: 0 auto 30px auto;
    & > h2 {
        color: var(--light-color);
        padding-top: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__item {
        width: 178px;
        font-size: 24px;
        color: var(--light-color);
        font-weight: 600;
        text-align: center;
        & > img {
            margin-bottom: 20px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: inherit;
        left: 0;
        background-color: var(--orange-color);
        z-index: -1;
    }
}

.brands {
    margin-bottom: 40px;
    overflow: hidden;
    &__slider {
        width: 100%;
        height: 30px;
        background-color: var(--orange-color);
    }
}

.popular {
    &__row {
        & a {
            height: 100px;
            background-color: var(--grey-color);
            margin-bottom: 30px;
            border-radius: 6px;
            text-decoration: none;
            color: var(--dark-color);
            text-align: center;
            box-sizing: border-box;
            padding: 16px;
            font-weight: 600;
        }
    }
}

.description {
    margin-bottom: 40px;
    &__content {
        display: flex;
        align-items: center;
    }
    &__text {
        width: 57%;
        font-size: 24px;
        line-height: 36px;
    }
    &__process {
        width: 40%;
        & img {
            width: 100%;
        }
    }
}


@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .hero {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        &__header {
            width: 100%;
            // font-size: 48px;
            // font-weight: 800;
            // line-height: 70px;
        }
        &__slider {
            width: 100%;
            // height: 340px;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }