<!-- Slider main container -->
<div class="brands-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="../../assets/img/brands/bosch.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/champion.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/dewalt.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/hitachi.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/husqvarna.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/interskol.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/kalibr.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/makita.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/metabo.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/partner.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/prorab.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/sparky2.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../assets/img/brands/stihl.jpg" alt="">
        </div>

</div>