<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />

<h1>Список брендов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addBrand()" />
<table *ngIf="tableModeBrand; else createBrandTemplate" class="table table-striped">
    <thead>
        <tr>
            <td>Название</td>
            <td>Описание</td>
            <td>Ссылка на картинку</td>
            <td>Домашняя страница</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of brands">
            <ng-template [ngIf]="brand?.id != b.id" [ngIfElse]="editBrandTemplate">
                <td>{{b?.name}}</td>
                <td>{{b?.description}}</td>
                <td>{{b?.imgReference}}</td>
                <td>{{b?.homePage}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editBrand(b)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteBrand(b)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования брендов-->
<ng-template #editBrandTemplate>
    <td>
        <input type="text" [(ngModel)]="brand.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="brand.description" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="brand.imgReference" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="brand.homePage" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveBrand()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancelBrand()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления брендов-->
<ng-template #createBrandTemplate>
    <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="brand.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input type="text" [(ngModel)]="brand.description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ссылка на картинку</label>
        <input type="number" [(ngModel)]="brand.imgReference" class="form-control" />
    </div>
    <div class="form-group">
        <label>Домашняя страница</label>
        <input type="number" [(ngModel)]="brand.homePage" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="saveBrand()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancelBrand()" class="btn btn-warning" />
    </div>
</ng-template>