<!-- Slider main container -->
<div class="swiper-container" onmouseover="this.swiper.autoplay.stop()" onmouseout="this.swiper.autoplay.start()">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide consult-slide">
            <h2>Срочная консультация</h2>
            <p>Наши специалисты ответят <br>
                на интересующие Вас вопросы и <br>
                помогут определиться с ремонтом <br>
                и ценами
            </p>
            <button class="button_light" onclick="this.blur()">Оставить заявку</button>
            <!-- <img src="../../assets/img/consult 1.jpg" alt=""> -->
        </div>
        <div class="swiper-slide diagnostic-slide">
            <h2>Качественная диагностика</h2>
            <p>Во время проведения диагностики <br>
                наши специальсты проверяют <br>
                инструмент на все возможные <br>
                неисправности
            </p>
            <button class="button_light" onclick="this.blur()">Оставить заявку</button>
            <!-- <img src="../../assets/img/diagnostic.jpg" alt=""> -->
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    
</div>