.top-preloader {
    z-index: 999;
    position: absolute;
    height: 2px;
    background-color: var(--orange-color);
    top: 0;
    animation: preloader 2s infinite ease-in-out;
}

@keyframes preloader {
    from {
        left: 0;
        width: 0;
    }
    50% {
        width: 50%;
    }
    to {
        left: 100%;
        width: 0;
    }
}