<!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" /> -->

<h1>Список Запчастей</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addSparePart()" />
<table *ngIf="tableModeSparePart; else createSparePartTemplate" class="table table-striped">
    <thead>
        <tr>
            <td>Название</td>
            <td>Название бренда</td>
            <td>Характеристики</td>
            <td>Описание</td>
            <td>Ссылка на картинку</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sp of spareParts">
            <ng-template [ngIf]="sparePart?.id != sp.id" [ngIfElse]="editSparePartTemplate">
                <td>{{sp?.name}}</td>
                <td>{{sp?.brandName}}</td>
                <td>{{sp?.specs}}</td>
                <td>{{sp?.description}}</td>
                <td>{{sp?.imgReference}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editSparePart(sp)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteSparePart(sp)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования запчастей-->
<ng-template #editSparePartTemplate>
    <td>
        <input type="text" [(ngModel)]="sparePart.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="sparePart.brandName" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="sparePart.specs" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="sparePart.description" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="sparePart.imgReference" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveSparePart()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="resetSparePart()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления запчастей-->
<ng-template #createSparePartTemplate>
    <div class="form-group">
        <label>Название</label>
        <input type="text" [(ngModel)]="sparePart.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Название бренда</label>
        <input type="text" [(ngModel)]="sparePart.brandName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Характеристики</label>
        <input type="text" [(ngModel)]="sparePart.specs" class="form-control" />
    </div>
    <div class="form-group">
        <label>Описание</label>
        <input type="text" [(ngModel)]="sparePart.description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ссылка на картинку</label>
        <input type="text" [(ngModel)]="sparePart.imgReference" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="saveSparePart()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="resetSparePart()" class="btn btn-warning" />
    </div>
</ng-template>
