<div class="container">
    {{type}}
</div>
    <div *ngFor="let tool of res$">
        {{tool}}
    </div>
<!-- <input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>sd
<input type="radio" name="tab-btn" id="tab-electro"> 
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label> -->