<p>tools-page works!</p>
<div class="container">
    
</div>
<!-- <input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label>
<input type="radio" name="tab-btn" id="tab-electro">
<label for="tab-electro">Электроинструмент</label> -->